src/main/resources/xsdFiles/batchInfo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="batchInfoType">
        <xs:sequence>
            <xs:element name="batchNumber" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>


    <xs:element name="batchInfo" type="batchInfoType"/>
</xs:schema>