src/main/resources/xsdFiles/employee.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="personalId" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:element name="employee" type="employeeType"/>
</xs:schema>