src/main/resources/xsdFiles/equipmentForTestModel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="equipmentForTestModelType">
        <xs:sequence>
            <xs:element name="modelName" type="xs:string"/>
            <xs:element name="modelDescription" type="xs:string"/>
            <xs:element name="releaseDate" type="xs:date"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:element name="equipmentForTestModel" type="equipmentForTestModelType"/>
</xs:schema>