src/main/resources/xsdFiles/essayModule.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="essayModuleType">
        <xs:sequence>
            <xs:element name="moduleDescription" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:element name="essayModule" type="essayModuleType"/>
</xs:schema>